html{
  height: 100%;
}

body{
  position: relative;
  height: 100%;
}

.ypj-podcast{
  position: relative;
  height: 100%;
  font-size: 16px;
}

.ypj-inner-wrapper{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1013px;
}


