/** MEDIA QUERY BREAKPOINTS **/

// Here we define the lower and upper bounds for each media size

$mobile-breakpoint: 40em;
/* ~640px */
$tablet-breakpoint: 40.063em;
/* ~641px */
$desktop-breakpoint: 61em;
/* ~976px */

$desktop-wide-breakpoint: 64.25em;
/* ~1028px */

// Media Queries
$screen: "only screen" !default;
$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

// Mobile first
$tablet: "#{$screen} and (min-width:#{$tablet-breakpoint})" !default;
$desktop: "#{$screen} and (min-width:#{$desktop-breakpoint})" !default;
$desktop-wide: "#{$screen} and (min-width:#{$desktop-wide-breakpoint})" !default;


/** IMAGE SETTINGS **/
img{
  width: 100%;
  height: auto;
}

