$black:             #323944;
$white:             #fff;
$color-dark-gray:   #333333;
$color-light-gray:  #ebebeb;
$color-gray:        #eaedf2;

$text-color:        #5c6b80;

$color-blue:        #2aa0ff;
$color-orange:      #ff4c00;

$image-location: './../images/';