
@include keyframes(popUp){
  0%   { opacity: 0; top: 50px; }
  100% { opacity: 1; top: 0; }
};

@include keyframes(fadeIn){
  0%   { opacity: 0; }
  100% { opacity: 1; }
};

@include keyframes(scaleIn){
  0%   { @include scale(0.8)}
  100% { @include scale(1)}
}

@include keyframes(scaleFade){
  0%   { opacity: 0; @include scale(0.85);}
  100% { opacity: 1; @include scale(1)}
}


.ypj-home-hero {

  .ypj-hero-logo {
    opacity: 0;
    @include animation(scaleFade 1s .5s 1 forwards ease-in);
  }

  .ypj-hero-lead-in{
    opacity: 0;
    @include animation(popUp 0.8s .8s 1 forwards ease-in);
  }

}
