.lwa{

  input[type="submit"] {
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    border-width: 1px;
    border-style: solid;
  }

  .lwa-remember {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1
  }

  .lwa-button-remember {
    margin-right: 15px;
  }

}